FRAUD_SCORE_APP_PORT=3002

KAFKA_BROKER_ADDRESS=localhost:9092
KAFKA_CONSUMER_GROUP=fraud-score-group
KAFKA_FRAUD_SIGNALS_REQUEST_TOPIC=FraudSignals.Request
KAFKA_FRAUD_SIGNALS_CALCULATED_TOPIC=FraudSignals.Calculated
REDIS_HOST=localhost
REDIS_PORT=6379
DYNAMO_DB_ENDPOINT=http://localhost:8000
DYNAMO_DB_FRAUD_SCORES_TABLE=ddb-fraud-scores
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
